* {
  margin: 0;
}

nav {
  position: sticky;
  overflow: hidden;
  height: 50px;
  background: rgb(200, 0, 0);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-radius: 12px;

}

.navbar div {
  padding-right: 15px;
  overflow: hidden;
  float: left;
  height: 100%;
}

.navbar .navbar-links {
  float: left;
  font-family: fantasy;
  font-size: x-large;
  text-align: center;
  display: flex;
  justify-content: left;
  overflow: hidden;
  list-style-type: none;
  height: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 750px;
}

.navbar-links li {
  display: flex;
  overflow: hidden;
  justify-content: left;
  min-width: 150;
  padding: 0px 15px 0px 15px;
  // margin: 0 auto 0 auto;
  // vertical-align: middle;
}

.navbar-links a {
  overflow: hidden;
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 8px;
}

a:visited {
  color: black;
}

a:hover {
  color: white;
}

.navbar .navbar-actions {
  float: right;
}
