<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main class="main">
  <nav class="nav" id="main">
    <div class="nav-left">
      <ul>
        <li href="#" ><a><img src="./logo.png" alt="A"></a></li>
        <li href="#" ><a (click)="goToHome()">Home</a></li>
        <li href="#" ><a (click)="goToAboutMe()">About</a></li>
      </ul>
    </div>
    <div class="nav-right">
      <ul>
        <li>
          <select id="ACC-MENU">
            <option value="0">ACC-NAME</option>
            <option value="1">ACC-PAGE</option>
            <option value="2">Login</option>
          </select>
        </li>
      </ul>
    </div>
  </nav>
</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet/>
